package API

import (
    "fmt"
	"github.com/superg3m/stoic-go/Core/Router"
	"github.com/superg3m/stoic-go/inc/{{ .TableName }}"
)

func create{{ .TableName }}(request *Router.StoicRequest, response Router.StoicResponse) {
	// Instantiate a new model object
	entity := {{ .TableName }}.New()

    {{- range .Attributes }}
    {{- if eq .Type "string" }}
    entity.{{ .Name }} = request.GetStringParam("{{ .Name }}")
    {{- else if eq .Type "int" }}
    entity.{{ .Name }} = request.GetIntParam("{{ .Name }}")
    {{- else if eq .Type "bool" }}
    entity.{{ .Name }} = request.GetBoolParam("{{ .Name }}")
    {{- else if eq .Type "float" }}
    entity.{{ .Name }} = request.GetFloatParam("{{ .Name }}")
    {{- else }}
    request.GetJsonParam("{{ .Name }}", &entity.{{ .Name }})
    {{- end }}
    {{- end }}



    create := entity.Create()
    if create.IsBad() {
        response.SetError("Failed to create {{ .TableName }} | %s", create.GetErrorMsg())
        return
    }


	response.SetData(fmt.Sprintf("{{ .TableName }} created successfully with ID %d", entity.ID))
}

func get{{ .TableName }}(request *Router.StoicRequest, response Router.StoicResponse) {
	id := request.GetIntParam("id")

	entity, err := {{ .TableName }}.FromID(id)
	if err != nil {
		response.SetError(fmt.Sprintf("Error getting {{ .TableName }}: %s", err))
		return
	}

	response.SetData(entity)
}

func update{{ .TableName }}(request *Router.StoicRequest, response Router.StoicResponse) {
	id := request.GetIntParam("id")

	entity, err := {{ .TableName }}.FromID(id)
    if err != nil {
        response.SetError("Failed to find {{ .TableName }} by ID | %s", err)
        return
    }

    {{- range .Attributes }}
    {{- if eq .Type "string" }}
    entity.{{ .Name }} = request.GetStringParam("{{ .Name }}")
    {{- else if eq .Type "int" }}
    entity.{{ .Name }} = request.GetIntParam("{{ .Name }}")
    {{- else if eq .Type "bool" }}
    entity.{{ .Name }} = request.GetBoolParam("{{ .Name }}")
    {{- else if eq .Type "float" }}
    entity.{{ .Name }} = request.GetFloatParam("{{ .Name }}")
    {{- else }}
    request.GetJsonParam("{{ .Name }}", &entity.{{ .Name }})
    {{- end }}
    {{- end }}

	update := entity.Update()
	if update.IsBad() {
	    response.SetError("Failed to update {{ .TableName }} | %s", update.GetErrorMsg())
	    return
	}

	response.SetData(fmt.Sprintf("{{ .TableName }} with ID %d updated successfully", id))
}

func delete{{ .TableName }}(request *Router.StoicRequest, response Router.StoicResponse) {
	id := request.GetIntParam("id")

	entity, err := {{ .TableName }}.FromID(id)
	if err != nil {
        response.SetError("Failed to find {{ .TableName }} by ID | %s", err)
        return
	}

	delete := entity.Delete()

	if delete.IsBad() {
	    response.SetError("Failed to delete {{ .TableName }} %s", delete.GetErrorMsg())
	    return
	}

	response.SetData(fmt.Sprintf("{{ .TableName }} with ID %d deleted successfully", id))
}

func init() {
	Router.RegisterApiEndpoint("{{ .TableName }}/Create", create{{ .TableName }}, "POST",
		Router.MiddlewareValidParams({{ range .Attributes }}"{{ .Name }}", {{ end }}),
	)
    Router.RegisterApiEndpoint("{{ .TableName }}/Get", get{{ .TableName }}, "GET",
        Router.MiddlewareValidParams("id"),
    )
	Router.RegisterApiEndpoint("{{ .TableName }}/Update", update{{ .TableName }}, "PATCH",
		Router.MiddlewareValidParams("id", {{ range .Attributes }}"{{ .Name }}", {{ end }}),
	)
	Router.RegisterApiEndpoint("{{ .TableName }}/Delete", delete{{ .TableName }}, "DELETE",
		Router.MiddlewareValidParams("id"),
	)
}