package {{ .TableName }}

import (
	"github.com/jmoiron/sqlx"
	"github.com/superg3m/stoic-go/Core/ORM"
	"github.com/superg3m/stoic-go/Core/Utility"
	"time"
)


type {{ .TableName }} struct {
	DB *sqlx.DB

	{{- range .Attributes }}
	{{ .Name }} {{ .Type }}
	{{- end }}
}

func New() *{{ .TableName }} {
	ret := new({{ .TableName }})

	//ret.DB = ORM.GetInstance()

	{{- range .Attributes }}
	{{ .Name }} {{ .Type }} = ""
	{{- end }}

	return user
}

func init() {
	ORM.RegisterTableName("{{ .TableName }}")

	{{- range .Attributes }}
	ORM.RegisterTableColumn("{{ .Name }}", "{{ .DBColumn }}", {{ .Flags }})
	{{- end }}
}