package {{ .TableName }}

import (
	"github.com/superg3m/stoic-go/Core/ORM"
	"time"
)


type {{ .TableName }} struct {
	ORM.StoicModel

	{{- range .Attributes }}
	{{ .Name }} {{ .Type }}
	{{- end }}
}

func New() *{{ .TableName }} {
	ret := new({{ .TableName }})

	ret.DB = ORM.GetInstance()
	ret.IsCreated = false
	ret.TableName = "{{ .TableName }}"

	{{- range .Attributes }}
	{{ .Name }} {{ .Type }} = ""
	{{- end }}

	return user
}

func init() {
	ORM.RegisterTableName("{{ .TableName }}")

	{{- range .Attributes }}
	ORM.RegisterTableColumn("{{ .Name }}", "{{ .DBColumn }}", {{ .Flags }})
	{{- end }}
}