package {{ .TableName }}

import (
    "fmt"
	"github.com/superg3m/stoic-go/Core/ORM"
	"time"
)


type {{ .TableName }} struct {
	ORM.StoicModel

	{{- range .Attributes }}
	{{ .Name }} {{ .Type }}
	{{- end }}
}

func init() {
	ORM.RegisterTableName("{{ .TableName }}")

	{{- range .Attributes }}
	ORM.RegisterTableColumn("{{ .Name }}", "{{ .DBColumn }}", {{ .Flags }})
	{{- end }}
}