package {{ .TableName }}
import "github.com/superg3m/stoic-go/Core/ORM"

func (model {{ .TableName }}) CanCreate() bool {
	return true
}

func (model {{ .TableName }}) CanRead() bool {
	return true
}

func (model {{ .TableName }}) CanUpdate() bool {
	return true
}

func (model {{ .TableName }}) CanDelete() bool {
	return true
}

func (model {{ .TableName }}) Create() {
	ORM.Create(&model)


func (model {{ .TableName }}) Read() {
	ORM.Read(&model)
}

func (model {{ .TableName }}) Update() {
	ORM.Update(&model)
}

func (model {{ .TableName }}) Delete() {
	ORM.Delete(&model)
}

func (u User) SetCache() {
	cache = u
}

func (u User) GetCacheDiff() []string {
	var mismatchedFields []string

	v1 := reflect.ValueOf(u)
	v2 := reflect.ValueOf(cache)
	userType := v1.Type()

	for i := 0; i < v1.NumField(); i++ {
		f1 := v1.Field(i)
		f2 := v2.Field(i)

		if !reflect.DeepEqual(f1.Interface(), f2.Interface()) {
			mismatchedFields = append(mismatchedFields, userType.Field(i).Name)
		}
	}

	return mismatchedFields
}

var _ ORM.InterfaceCRUD = {{ .TableName }}{}
var cache {{ .TableName }}